/*CSS FOR NAVBAR*/
/*When the screen is small (phone) search bar will be visible at 185px*/
@media(max-width:767px) {
	.navbar .navbar-form {
		width: 185px;
		padding-left:0;
		padding-right:0;
	}
}
/*when the screen is big (laptop) search bar will be larger at 250px*/
@media(min-width:768px) {
	.navbar .navbar-form {
		width: 250px;
	}
}

/*add padding to body so content isnt stuck behind navbar when on small screen*/
@media (max-width: 768px){
	body{padding-top:70px;
	}
}

/*add (slightly less) padding to body when on large screen*/
@media (min-width: 769px){
	body{padding-top: 60px;
	}
}


.navbar .navbar-form {
	padding-top: 0;
	padding-bottom: 0;
	margin-right: 0;
	margin-left: 0;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/*----------------------------------------------------------------------------------------------------*/

/*CSS FOR COMPANY PROFILE*/

.company-name{

	text-align: center;
	border: 0.15rem solid lightgray;
	border-radius: 2%;
	margin-top:0;
}

.serving-icon{
	border: 0.1rem solid black;
	border-radius: 100%;
	width: 2.5rem;
	height: 2.5rem;
	background: green;
	transform: translateY(17.5%);
}


.locate-btn{
	width: 10rem;
}

.profile-image{
	margin-top: 1rem;
}

.description-box{
	box-sizing: border-box;
	margin-top: 2rem;
	border: 0.15rem solid slategrey;
	padding-top: 1rem;

}

.menu-box{
	margin-top: 2rem;
	border: 0.15rem solid slategrey;
	padding-top: 1rem;
}

.week-schedule-h3{
	margin-top: 1rem;
	margin-bottom:1rem;
}

.week-description{
	border: 0.15rem solid slategrey;
	box-sizing: border-box;
	margin: 2rem;
	padding: 2rem;

}

h1{
	font-family: 'Fascinate Inline', cursive;
}

h3{
	font-family: 'Nixie One', cursive;
}

/*menu-horizontal rule*/
.menu-hr{
	width: 50%;
}

/*remove bullets from menu unordered list*/
.menu-ul{
	list-style: none;
	padding-left:0  /*this will remove the list item indentation and center everything */
}

p {
	font-family: 'Roboto', sans-serif;
}




/*---------------------------------------/*CSS FOR TRUCK LIST------------------------------------------------------------*/


.truck-body{
	background-color: #FFB996;
}

.truck-list-box{
	/*background-image: url("https://hd.unsplash.com/photo-1468956398224-6d6f66e22c35");*/
	margin-top: 2rem;
	border: 0.15rem solid slategrey;
	width: 100%;
	height: 20rem;


	/*padding-top: 0.5rem;*/
	/*padding-bottom: 0.5rem;*/
	/*padding-left: 0.5rem;*/
}

.truck-image{
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://hd.unsplash.com/photo-1468956398224-6d6f66e22c35");
	width: 100%;
	/*padding-bottom: 66.666666666667%;*/
	background-size: cover;
	background-position: center;

}

/*remove some padding from columns in this page*/
.truck-div-padding{
	padding-right:0.25rem;
	padding-left: 0.25rem;
}
.truck-list-company-name{
	text-align: center;
	margin-bottom: 0.2rem;
}

.truck-h3{
	text-align: center;
	color: white;
	padding-left: 4rem;
}
.truck-list-hr{
	width: 50%;
	margin-top:0.25rem;
}

.truck-list-ul{
	list-style: none;
	padding-left:0;  /*this will remove the list item indentation and center everything */
	text-align: center;
	color: white;
}

.truck-list-text{
	text-align: center;
	color: orangered;
}


.truck-list-serving-icon{
	border: 0.1rem solid black;
	border-radius: 100%;
	width: 2.5rem;
	height: 2.5rem;
	background: green;
	transform: translateY(17.5%);
	float: right;
	margin-right: 1rem;
	margin-top: 1rem;
}


/*--------------------------------------CSS FOR TRUCK LOGIN/REGISTER---------------------------*/

.truck-login-hr{
	width: 50%;
	margin-top:0.25rem;
}

.truck-login-form{
	padding: 15px;
	/*margin: 0 auto;*/
}

.truck-login-register-btn{
	margin-top: 2rem;
	background: none;
	border: 0.1rem solid orange;
}


/*--------------------------------------TRUCK REGISTRATION-------------------------------*/
.registration-main{
	text-align: center;
}

.registration-hr{
	width: 50%;
	margin-top:0.25rem;
}

.registration-input{
	background-color: #FFC468;
}

.registration-submit-button{
	color: orange;
	border: 0.1rem solid orange;
}




/*----------------------------------------CSS FOR FOOTER-------------------------------------------------*/
/*Sticky footer*/
/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-size: 16px;
}

.sfooter-content {
	flex: 1 0 auto;
}

/*bottom footer */
.bfoot{
	color: dimgray;
	background-color: darkorange;
	height: 5em;
	width:100%;
	display: inline-flex;
	font-family:sans-serif;
	text-align: left;
	padding-top: 1rem;
	margin-top: 1rem;
}

