/*----------------CSS FOR NAVBAR----------------------------------*/
/*When the screen is small (phone) search bar will be visible at 185px*/
@media(max-width:767px) {
	.navbar .navbar-form {
		width: 185px;
		padding-left:0;
		padding-right:0;
	}
}
/*when the screen is big (laptop) search bar will be larger at 250px*/
@media(min-width:768px) {
	.navbar .navbar-form {
		width: 250px;
	}
}

/*add padding to body so content isnt stuck behind navbar when on small screen*/
@media (max-width: 768px){
	body{padding-top:50px;
	}
}

/*add (slightly less) padding to body when on large screen*/
@media (min-width: 769px){
	body{padding-top: 50px;
	}
}


.navbar .navbar-form {
	padding-top: 0;
	padding-bottom: 0;
	margin-right: 0;
	margin-left: 0;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/*changed font style, and background color of nav*/
.navbar{
	font-family:"baloo paaji",sans-serif;
	background: #72b352;
	color:white;

}

/*this changes the nav text color to white*/
.navbar-default .navbar-nav>li>a{
	color:white;
}

.logo-img{
	height: 30px;
	width: auto;
	padding-bottom: 11%;
}




/* -------------------------------MAPS CSS -------------------------------------------------- */


.angular-google-map-container {
	height: 88vh;
	width: auto;
}


/*----------------------------------------------------------------------------------------------------*/

/*CSS FOR COMPANY PROFILE*/

.company-name{
	text-align: center;
	margin-top:3rem;
}

.company-info-div{
	margin-top: 3rem;
}

.figcapt-text{
	color: gray;
	padding-right: 5%;
}
.serving-now{
	font-family: "baloo paaji", sans-serif;
	color: #f05e56;
	font-size: 20px;
}
.company-hr{
	width: 50%;
	margin-top:0.25rem;
}

.serving-icon{
	border: 0.1rem solid black;
	border-radius: 100%;
	width: 2.5rem;
	height: 2.5rem;
	background: green;
	transform: translateY(17.5%);
	margin: 0 auto;
}


.locate-btn{
	width: 10rem;
}

.profile-image{
	margin-bottom: 2rem;
}

.companyDescription{
	font-family: "baloo paaji", sans-serif;
	text-align: center;
}

.company-description-box{
	border: 2px solid #f05e56;
	margin-bottom: 2rem;

}
/*#companyMenuText{*/
	/*font-family: 'Nixie One', cursive;*/
/*}*/

.description-box{
	box-sizing: border-box;
	margin-top: 2rem;
	border: 0.15rem solid slategrey;
	padding-top: 1rem;

}

.menu-box{
	margin-top: 2rem;
	margin-bottom: 3rem;
	border: 0.15rem solid slategrey;
	padding-top: 1rem;
}

.week-schedule-h3{
	margin-top: 1rem;
	margin-bottom:1rem;
}

.week-description{
	border: 0.15rem solid slategrey;
	box-sizing: border-box;
	margin: 2rem;
	padding: 2rem;

}

h1{
	font-family: 'Fascinate Inline', cursive;
	color: #006936;
	text-align: center}

h3{
	font-family: 'Nixie One', cursive;
}

/*menu-horizontal rule*/
.menu-hr{
	width: 50%;
}

/*remove bullets from menu unordered list*/
.menu-ul{
	list-style: none;
	padding-left:0  /*this will remove the list item indentation and center everything */
}

p {
	font-family: 'Roboto', sans-serif;
}




/*---------------------------------------/*CSS FOR TRUCK LIST------------------------------------------------------------*/


.truck-body{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4f4f4+0,6daf4b+100&1+0,0.4+100 */
	background: -moz-linear-gradient(top,  rgba(244,244,244,1) 0%, rgba(109,175,75,0.4) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(244,244,244,1) 0%,rgba(109,175,75,0.4) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(244,244,244,1) 0%,rgba(109,175,75,0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#666daf4b',GradientType=0 ); /* IE6-9 */




}


.truck-list-box{
	margin-bottom: 3rem;
	border: 2px double #72b352;
	width: 100%;
	height: 24rem;

}

.truck-image{
	background-image: linear-gradient(rgba(255,255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../images/littleCafe.png);

	width: 100%;
	background-size: cover;
	background-position: center;

}

/*remove some padding from columns in this page*/
.truck-div-padding{
	padding-right:0.25rem;
	padding-left: 0.25rem;
}
.truck-list-company-name{
	text-align: center;
	margin-bottom: 0.2rem;
}

.truck-list-box{
	/*border:3px solid #008000;*/
	/*border:3px solid #009B00;*/
}

.truck-h3 {
	text-align: center;
	color: white;
	padding-left: 4rem;
	font-family: 'Fascinate Inline', cursive;


}
a {
	color:black;
}
.truck-list-hr{
	width: 50%;
	margin-top:0.25rem;
}

.truck-list-ul{
	list-style: none;
	padding-left:0;  /*this will remove the list item indentation and center everything */
	text-align: center;
	color: black;
}

.truck-list-text{
	text-align: center;
	color: #f05e56;
	font-family: 'baloo paaji', sans-serif;
	font-size:2rem;
}


.truck-list-serving-icon{
	border: 0.1rem solid black;
	border-radius: 100%;
	width: 2.5rem;
	height: 2.5rem;
	background: green;
	transform: translateY(17.5%);
	float: right;
	margin-right: 1rem;
	margin-top: 1rem;
}

#all-trucks{
	text-align:center;
}


/*--------------------------------------CSS FOR LOGIN/REGISTER---------------------------*/


.login-background{

	background: url("https://images.unsplash.com/photo-1471110338536-858caa3dbe45?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
}
.truck-login-hr{
	width: 50%;
	margin-top:0.25rem;
}

.truck-login-input{
	margin: 0 auto;
	width: 80%
}

.truck-login-form{
	padding: 15px;
	/*margin: 0 auto;*/
}

.truck-login-register-btn{
	margin-top: 2rem;
	background: gainsboro;
	border: 0.1rem solid #BC59D7;
}

.truck-login-register-btn a:hover{
	background:gainsboro;
	color: #BC59D7;
	text-decoration: none;
}

.login-submit{
	background:#BC59D7;
}


/*-------------------------------------- REGISTRATION-------------------------------*/
.registration-main{
	text-align: center;
}

.registration-hr{
	width: 50%;
	margin-top:0.25rem;
}

.registration-input{
	background-color: #D8D2D0;
	color: #72b352;
	border: 0.1rem solid #72b352;
}

.registration-reset-btn{
	margin-bottom: 2rem;
	border: 0.1rem solid black;
}

.registration-reset-btn:hover{
	color:#f05e56;
}
.registration-submit-button{
	color: #f05e56;
	border: 0.1rem solid #f05e56;
	margin-bottom: 2rem;
}


/*-------------------------------------TRUCK MAP----------------------------------------------*/
.truck-map-serving-h4{
	margin-left: 1rem;
}
.truck-map-start-serving-btn{
	background-color: green;
	color: black;
	min-height: 6rem;
}

.truck-map-stop-serving-btn{
	background-color: red;
	color: black;
	min-height: 6rem;
}

.truck-map-hr{
	width: 50%;
	margin-top:0.25rem;
	font-weight: bolder;
}

.truck-map-time-field{
	margin: 0 auto;
}
.truck-map-time-text{
	margin-left: 1rem;

}

.truck-map-close-modal{
	margin-top:2rem;
	margin-right: 4rem;
}

.truck-map-location{
	/*box-sizing: border-box;*/
	border: 0.15rem solid slategrey;
	min-height: 3.5rem;

}

.truck-map-submit-btn{
	min-width: 30%;
	margin: 3rem auto;
}

.truck-map-end-time{
	border: 0.15rem solid slategrey;
	min-height: 4rem;
}


.truck-map-update-btn{
	min-width: 30%;
	margin: 1.5rem auto;
}

.truck-map-stop-btn{
	min-width: 70%;
	margin: 2rem auto;
}







/*----------------------------------------CSS FOR FOOTER-------------------------------------------------*/
/*Sticky footer*/
/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-size: 16px;
}

.sfooter-content {
	flex: 1 0 auto;
}

/*bottom footer */
.bfoot{
	color: dimgray;
	background-color: #72b352;
	height: 4em;
	width:100%;
	display: inline-flex;
	font-family:sans-serif;
	text-align: left;
	padding-top: 1rem;
	/*margin-top: 1rem;*/
}

.foot-logo{
	height:3.5rem;
	width: auto;
}

.foot-logo-div{
	margin: 0 auto;
}

