
/*When the screen is small (phone) search bar will be visible at 185px*/
@media(max-width:767px) {
	.navbar .navbar-form {
		width: 185px;
		padding-left:0;
		padding-right:0;
	}
}
/*when the screen is big (laptop) search bar will be larger at 250px*/
@media(min-width:768px) {
	.navbar .navbar-form {
		width: 250px;
	}
}

/*add padding to body so content isnt stuck behind navbar when on small screen*/
@media (max-width: 768px){
	body{padding-top:70px;
	}
}

/*add (slightly less) padding to body when on large screen*/
@media (min-width: 769px){
	body{padding-top: 60px;
	}
}


.navbar .navbar-form {
	padding-top: 0;
	padding-bottom: 0;
	margin-right: 0;
	margin-left: 0;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.company-name{

	text-align: center;
	border: 0.15rem solid lightgray;
	border-radius: 2%;
	margin-top:0;
}

.serving-icon{
	border: 0.1rem solid black;
	border-radius: 100%;
	width: 2.5rem;
	height: 2.5rem;
	background: green;
	transform: translateY(17.5%);
}

.locate-btn{
	width: 10rem;
}

.profile-image{
	margin-top: 1rem;
}

.description-box{
	box-sizing: border-box;
	margin-top: 2rem;
	border: 0.5px solid slategrey;
	padding-top: 1rem;

}

.menu-box{
	margin-top: 2rem;
	border: 0.5px solid slategrey;
	padding-top: 1rem;
}

.week-schedule-h3{
	margin-top: 1rem;
	margin-bottom:1rem;
}

.week-description{
	border: 0.5px solid slategrey;
	box-sizing: border-box;
	margin: 2rem;
	padding: 2rem;

}

h1{
	font-family: 'Fascinate Inline', cursive;
}

h3{
	font-family: 'Nixie One', cursive;
}

/*menu-horizontal rule*/
.menu-hr{
	width: 50%;
}

/*remove bullets from menu unordered list*/
.menu-ul{
	list-style: none;
	padding-left:0  /*this will remove the list item indentation and center everything */
}

p {
	font-family: 'Roboto', sans-serif;
}
